<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body style="overflow:hidden;margin: 0;">

        <div class="splash-screen" style="display:block;text-align:center">

             <img src="/images/splash.jpg" style="height:2150px;"/>
              <div class="splash-logo">
                  <img src="/images/CCAR_Logo_Bean_White.png" style="width:70%;height:70%;"/>
              </div>
        </div>

  </body>
  <script type="text/javascript">
  setTimeout(function () {
  window.location.href="/mobileApp/products"

}, 1000); //will call the function after 2 secs.
  </script>
</html>
